<!--
<html>
<body style="background-color:powderblue;">
<div class="container">
  <h1>Stock Trading Application</h1>
  <p>Welcome to the Trading Application.</p>
  <button class="btn btn-outline-primary" routerLink="/stui-list">Explore Trades</button>
  <button class="btn btn-outline-primary" routerLink="/stui-purchase">Purchase a Trade</button>
  <button class="btn btn-outline-primary" routerLink="/stui-sell">Sell Trades</button>
  <button class="btn btn-outline-primary" routerLink="/stui-user-order-status">My Trades</button>
  <router-outlet></router-outlet>
</div>
</body>
</html>
-->

<html>

<body style="background-color:powderblue;">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/stui-list">D.G.N.M Trading</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/stui-list">Explore Trades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stui-purchase">Purchase a Trade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stui-sell">Sell Trades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/stui-user-order-status">Order History</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

</body>
</html>
